* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

body {
    display: flex;
}

.form-flex {
    display: flex;

    flex-wrap: wrap;
    justify-content: between;
}

input {
    width: 12rem;
    height: 1.5rem;
    margin-top: 3px;
}

.heading {
    margin-bottom: 50px;
}

.fname, .lname, .email, .password, .confirm, .phone {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 15rem;

}

button {
    width: 10rem;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
}

.form-legend {
    width: 100%;
}

label {
    font-size: .95rem;
}

.acct-owner {
    margin-left: 30px;
}

.palms {
    height: 100vh;
}